<!DOCTYPE html>
<html>

<head>
<title>
Staff Data Invalid Page
</title>
</head>

<body>
<h1 style="font-size:60px; text-align:center">
<img src="../static/tcm logo3.png" width="160" height="160" alt="Eashvar's Logo">
伊什瓦尔中医学院员工资料
</h1>

<h2>
<p style="font-size:20px; text-align:center">
错NRIC,大写敏感
</h2>

<h3 style="text-align:center">
<img src="../static/sad_doctor.png" width="160" height="140" alt="Sad Doctor Error Message">
</h3>

<h4 style="text-align:center">
<form action = "{{ url_for('staff_data_return3') }}" method = "POST"> <!--EASHVAR CODE THIS 8.0--> <!--goes to page 4-->
	<input type="submit" value="Retry">
</form>
</h4>
</html>