<!DOCTYPE html>
<html>

<head>
<title>
Data Entry Page
</title>
</head>

<body>
<h1 style="font-size:60px; text-align:center">
<img src="../static/tcm logo3.png" width="160" height="160" alt="Eashvar's Logo">
伊什瓦尔中医学院网站
</h1>

<h2 style = "font-size:30px; text-align:center">
<form action = "{{url_for('data_entry')}}" method = "POST">
	<label for="nric">NRIC:</label>
	<input type="text" id="nric" name="nric" required><br><br>
	<label for="first_name">First Name:</label>
	<input type="text" id="first_name" name="first_name" required><br><br>
	<label for="last_Name">Last Name:</label>
	<input type="text" id="last_name" name="last_name" required><br><br>
	<label for="date_of_birth">Date Of Birth:</label>
	<input type="text" id="date_of_birth" name="date_of_birth" required><br><br>
	<label for="home_address">Home Address:</label>
	<input type="text" id="home_address" name="home_address" required><br><br>
	<label for="contact">Contact Number:</label>
	<input type="text" id="contact_number" name="contact_number" required><br><br>
	<label for="gender">Gender:</label>
	<input type="text" id="gender" name="gender" required><br><br>
	<label for="allergy">Allergy:</label>  <!-- staff has no allergy-->
	<input type="text" id="allergy" name="allergy" required><br><br>
	<label for="clinic">Clinic:</label>
	<input type="text" id="clinic" name="clinic" required><br><br>
	<label for="type">Type:</label><br> <!--add more types if needed forgot one -->
	
	<form id="type" method = "POST">
		<input type="radio" id="patient" name="type" value="patient">
		<label for="patient">Patient</label><br>
		<input type="radio" id="doctor" name="type" value="doctor">
		<label for="doctor">Doctor</label><br>
		<input type="radio" id="nurse" name="type" value="nurse">
		<label for="nurse">Nurse</label>
		<input type="radio" id="intern" name="type" value="intern">
		<label for="intern">Intern</label>
		<input type="radio" id="receptonist" name="type" value="receptionist">
		<label for="receptionist">Receptionist</label>
	</form><br><br>
	
	<label for="status">Working Status:</label><br>
	<form id="type" method = "POST">
		<input type="radio" id="active" name="status" value ="Active">
		<label for="active">Active Staff</label><br>
		<input type="radio" id="inactive" name="status" value="Inactive">
		<label for="inactive">Inactive Staff</label><br>
		<input type="radio" id="patient" value="Not_Staff">
		<label for="patient">Patient</label>
	</form>
	<input type="submit" value="Enter">
</form>


<h3 style="float: left; margin-left: 300px;">
<form action = "{{url_for('data_entry_return')}}" method = "POST"> <!--EASHVAR CODE THIS 16.0--> <!--goes to page 2.1-->
	<input type="submit" value="Return to Data Page">
</form>
</h3>
</html>
